{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-section">
  <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              
            </aside>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <div class="listing-sorting-holder">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>{{vendor_count}} Restaurant's found</h4>
                  </div>
                </div>
              </div>
              <div class="listing simple">
                <ul>
                  {% for vendor in vendors %}
                  <li style="line-height:15px;">
                    <div class="img-holder">
                      <figure>
                        <a href="#">
                          {% if vendor.user_profile.profile_picture %}
                            <img src="{{vendor.user_profile.profile_picture.url}}" class="img-list wp-post-image" alt="">
                          {% else %}
                            <img src="{% static "main/extra-images/listing-logo18.png" %}" class="img-list wp-post-image" alt="">
                          {% endif %}
                        </a>
                      </figure>
                      <span class="restaurant-status {% if vendor.user.is_active %}open {% else %}close{% endif %}"><em class="bookmarkRibbon"></em>{% if vendor.user.is_active %}Open {% else %}Close{% endif %} </span>
                    </div>
                    <div class="text-holder">
                      
                      <div class="post-title">
                        <h5>
                          <a href="{% url "vendor_detail" vendor.vendor_slug %}">{{vendor}}</a>
                        </h5>
                      </div>
                      {% if vendor.user_profile.city and vendor.user_profile.state and vendor.user_profile.pin_code %}
                      <span><small class="text-muted">
                          {{vendor.user_profile.city}} {{vendor.user_profile.state}} {{vendor.user_profile.pin_code}}
                        </small></span>
                        {% endif %}
                        {% if source_location %}
                        <br>
                        <span><small class="bg-warning"><b>{{vendor.kms}}km</b> away from {{source_location}}</small></span>
                        {% else %}
                        <br>
                        <span><small class="bg-warning"><b>{{vendor.kms}}km</b> away you</small></span>
                        {% endif %}
                      
                      
                    </div>
                    <div class="list-option">

                      <a href="{% url "vendor_detail" vendor.vendor_slug %}" class="viewmenu-btn text-color">View Menu</a>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              
            </div>
            <div class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="message-box" style="background-color: #fa9918;">
                <strong>I'm not Listed!</strong><span>is your restaurant or
                  business not
                  listed on over site</span>
                <a href="{% url "registerVendor" %}" class="request-btn">Add Your business!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
/*
<script>
  var current_locate = sessionStorage.getItem("current_location");
  console.log(current_locate)
  if(current_locate != ''){
    x.value = current_locate;
    latlng_list = current_locate.split(',')
    console.log(latlng_list)
    //document.getElementById("id_latitute").value=latlng_list[0]
    //document.getElementById("id_longitude").value=latlng_list[1]
  }

{% comment %}   
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  
  function showPosition(position) {
    let lat = position.coords.latitude; 
    let lng = position.coords.longitude;

    console.log(lat,lng)

    var latitude = document.getElementById("id_latitute")
    var longitude = document.getElementById("id_longitude")

    latitude.value=lat
    longitude.value=lng

    current_location = lat+","+lng

    x.value = current_location
    sessionStorage.setItem("current_location",current_location);

    window.location = '?lat='+lat+'&lng='+lng

    // x.value = lat +' , '+lng;
    
    // var GOOGLE_API_KEY='{{ GOOGLE_API_KEY }}'
    // var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+','+lng+"+&key="+GOOGLE_API_KEY
    
    /* $.ajax({
      url:url,
      type:'GET',
      success : function(response){
        console.log(response)
        if(response.status == 'OK'){
        var location = response.results[0].formatted_address
        console.log(location)}
        else{
          console.warn(response.error_message)
        }
      },
      error:function(){
        console.log('error')
        }
    })*/
  }
</script> {% endcomment %}
{% endblock %}